@media screen and (max-width: 1590px) {
    html, body, footer, header
    {
        width: 100%;
        background-position: 50% 50%;
    }
    .content
    {
        width: 52%;
        margin-left: 24%;
        margin-right: 24%;
    }
    .img-article3
    {
        width: 100%;
        height:auto;
    }
    .img-article4
    {
        width: 100%;
        height: auto;
    }
    .img-article4 img
    {
        margin-right: 3%;
        width: 31%;
        height: auto;
    }
    .social-net
    {
        right: 13%;
    }
    footer p
    {
        left: 13%;
    }
    .header__tittleh1
    {
        margin-left: 14%;
    }
    .header__tittleh2
    {
        margin-left: 14%;
    }
    .header__author
    {
        margin-left: 14%;
    }
    .header__nav
    {
        margin-left: 14%;
    }
    .content__links
    {
        width: 52%;
    }
    .audio .plyr__controls
    {
        width: 100%;
    }
    .audio .plyr__progress
    {
        width: 70%;
        right: 10%;
    }
    .audio .plyr__controls .plyr__time
    {
        right: 10%;
    }

}

@media screen and (max-width: 1200px) {
    .content__links
    {
        flex-wrap: wrap;
    }
    .content {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .audio
    {
        width: 100%;
        height: auto;
    }
    .audio .plyr__controls
    {
        width: 100%;
    }
    .audio .plyr__progress
    {
        width: 70%;
        right: 10%;
    }
    .audio .plyr__controls .plyr__time
    {
        right: 10%;
    }
    .video
    {
        width: 100%;
        height: auto;
    }
    .video .plyr__video-wrapper video
    {
        width: 100%;
    }
    .video .plyr__controls
    {
        width: 100%;
    }
    .video .plyr__progress
    {
        width: 86%;
    }
    .video .plyr__play-large
    {
        left: 47%;
    }
    .video span[class="plyr__time"]
    {

    }
    .comments textarea
    {
        width: 95%;
    }
    .youtube
    {
        width: 90%;
        height: auto;
    }
    .tip-the-author
    {
        width: 100%;
    }
    .strike > span:before
    {
        width: 44%;
    }

    .strike > span:after {
        width: 45%;
    }
    footer
    {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {

    .content
    {
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
    }

    article p
    {
        font-size: 20px;
    }
    article h3
    {
        font-size: px;
    }
    .tweet img
    {
        width: 70%;
        height: auto;
        overflow: hidden;
    }
    .links-menu
    {
        flex-wrap: wrap;
    }
    .youtube
    {
        width: 85%;
        height: auto;
    }
    .comments textarea
    {
        width: 90%;
    }
    .tip-the-author
    {
        width: 99%;
    }
    .audio
    {
        width: 90%;
    }
    .audio .plyr__controls
    {
        width: 100%;
    }
    .audio .plyr__progress
    {
        width: 70%;
        right: 10%;
    }
    .audio .plyr__controls .plyr__time
    {
        right: 10%;
    }
    .video
    {
        width: 90%;
        height: auto;
        border-width: 10px;
    }
    .video .plyr__video-wrapper video
    {
        width: 100%;
    }
    .video .plyr__controls
    {
        width: 100%;
    }
    .video .plyr__progress
    {
        width: 86%;
    }
    .video .plyr__play-large
    {
        left: 47%;
    }

}

/* @media screen and (max-width: 320px)
{

    .content
    {
        margin-left: 0%;
        margin-right: 0%;
    }
    article p
    {
        font-size: 30px;
    }
    article h3
    {
        font-size: 60px;
    }
} */