@media screen and (max-width: 1590px) {
    html, body, footer, header
    {
        width: 100%;
        background-position: 50% 50%;
    }
    .article__links
    {
        flex-wrap: nowrap;
        width: 100%;
    }
    .article__drop-down_margin_mid
    {
        position: static;
    }
    .content
    {
        width: 52%;
        margin-left: 24%;
        margin-right: 24%;
    }
    .article__img_size_big
    {
        width: 100%;
        height:auto;
    }
    .article__img-inline
    {
        width: 100%;
        height: auto;
    }
    .img-inline_size_mid
    {
        margin-right: 3%;
        width: 31%;
        height: 25%;
    }
    .footer__social-net
    {
        right: 13%;
    }
    .footer__copyright
    {
        left: 13%;
    }
    .header__tittleh1
    {
        margin-left: 14%;
    }
    .header__tittleh2
    {
        margin-left: 14%;
    }
    .header__author
    {
        margin-left: 14%;
    }
    .header__nav
    {
        margin-left: 14%;
    }
    .audio .plyr__controls
    {
        width: 100%;
    }
    .audio .plyr__progress
    {
        width: 70%;
        right: 10%;
    }
    .audio .plyr__controls .plyr__time
    {
        right: 10%;
    }


}

@media screen and (max-width: 1590px) {
    .article__links
    {
        flex-wrap: wrap;
        white-space: nowrap;
    }
    .content {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .audio
    {
        width: 100%;
        height: auto;
    }
    .audio .plyr__controls
    {
        width: 100%;
    }
    .audio .plyr__progress
    {
        width: 70%;
        right: 10%;
    }
    .audio .plyr__controls .plyr__time
    {
        right: 10%;
    }
    .video
    {
        width: 100%;
        height: auto;
    }
    .video .plyr__video-wrapper video
    {
        width: 100%;
        height: 70%;
    }
    .video .plyr__controls
    {
        width: 100%;
    }
    .video .plyr__progress
    {
        width: 86%;
    }
    .video .plyr__play-large
    {
        left: 50%;
        top: 50%;
    }
    .video .plyr__play-large
    {
        width: 70px;
        height: 70px;
    }
    .comments__replies_margin_big
    {
        margin-left: 30px;
    }
    .comments__textarea
    {
        width: 100%;
    }
    .youtube .plyr__video-wrapper
    {
        width: 100%;
        height: 70%;
    }
    .youtube
    {
        width: 100%;
        height: auto;
    }
    .content__tip-the-author
    {
        width: 100%;
    }
    .footer
    {
        width: 100%;
    }
    .article__links
    {
        flex-wrap: nowrap;
    }
    .article__links_margin5_info
    {
        flex-wrap: wrap;
    }

}
@media screen and (max-width: 800px){
    .audio .plyr__progress
    {
        width: 65%;
        right: 10%;
    }
}
@media screen and (max-width: 630px) {

    .content__ul-com-author
    {
        font-size: 13px;
    }
    .content__ul-com-date
    {
        font-size: 13px;
    }
    .content__ul
    {
        font-size: 40%;
    }
    .content__ul-li
    {
        margin-right: 10%;
    }
    .article__tweet
    {
        width: 90%;
        height: 10%;
    }
    .header__tittleh1
    {
        padding-top: 0;
        font-size: 30px;
        margin-left: 3%;
    }
    .header__tittleh2
    {
        font-size: 20px;
        margin-left: 3%;
    }
    .header
    {
        height: 230px;
    }
    .header__nav
    {
        margin-left: 3%;
        margin-top: 5%;
        flex-wrap: nowrap;
    }
    .header__nav-li
    {
        margin-bottom: 5px;
        margin-right: 3%;
    }
    .header__nav-item
    {
        font-size: 10px;
    }
    .header__nav-icon
    {
        margin-right: 2px;
        width: 50%;
        height: auto;
    }
    .header__nav_p
    {
        margin-left: 2px;
    }
    .header__author
    {
        white-space: nowrap;
        margin-left: 3%;
        font-size: 12px;
    }
    .header__authorimg
    {
        width: 40%;
        height: auto;
    }
    .header__donate-border
    {
        width: 19px;
        height: 19px;
    }
    .line
    {
        width: 100%;
        height: 40px;
    }
    .content
    {
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
        overflow: hidden;
    }
    .article__p
    {
        font-size: 20px;
    }
    .tweet__img
    {
        width: 70%;
        height: auto;
    }
    .author__li
    {
        margin-right: 5%;
        font-size: 10px;
    }
    .links-menu__a
    {
        font-size: 10px;
        margin-right: 5px;
    }
    .links-menu__img
    {
        width: 15px;
        height: 15px;
    }
    .links-menu__img_arr_bigger
    {
        width: 12px;
        height: 17px;
    }
    .links-menu__a_margin5_number {
        margin-right: 1px;
        margin-left: 1px;
    }
    .links-menu__a_margin5_arrup
    {
        margin-right: 2px;
    }
    .links-menu__a_margin5_arrdown
    {
        margin-left: 5px;
        margin-right: 10px;
    }
    .links-menu__donate
    {
        width: 15px;
        height: 15px;
    }

    .article__drop-down
    {
        margin-left: 0%;
    }
    .article__links-menu
    {
        flex-wrap: nowrap;
    }
    .youtube
    {
        width: 85%;
        height: auto;
    }
    .comments__textarea
    {
        width: 90%;
    }
    .content__tip-the-author
    {
        width: 99%;
    }
    .audio
    {
        width: 100%;
    }
    .audio .plyr__controls
    {
        width: 100%;
        padding-left: 5px;
    }
    .audio .plyr__controls button[data-plyr="play"]
    {

    }
    .audio .plyr__progress
    {
        width: 60%;
        right: 10%;
    }
    .audio .plyr__controls .plyr__time
    {
        right: 10%;
    }
    .video
    {
        width: 100%;
        height: auto;
        border-width: 10px;
    }
    .video .plyr__video-wrapper video
    {
        width: 100%;
    }
    .video .plyr__controls
    {
        width: 100%;
    }
    .video .plyr__progress
    {
        width: 80%;
    }
    .video .plyr__play-large
    {
        left: 50%;
    }

}

@media screen and (max-width: 330px)
{
    .footer__copyright
    {
        font-size: 14px;
    }
    .header__nav-icon
    {
        width: 20%;
        height: auto;
    }
    .header__donate-border
    {
        width: 12px;
        height: 12px;
    }
    .header__nav
    {
        flex-wrap: nowrap;
    }
	.header__nav-li
	{
		margin-right: 3px;
	}
	.replies__img
	{
		width: 50px;
		height: 50px;
	}
	.content__ul-li
    {
        margin-right: 5%;
    }
	.replies__content
	{
		margin-left: 10px;
	}
	.video .plyr__progress
    {
        width: 75%;
    }
	.video .plyr__play-large
	{
		top: 70px;
	} 
	.links-menu__p
	{
		font-size: 10px;
		margin-left: 2px;
	}
}