@media screen and (max-width: 1590px) {
    html, body, footer, header
    {
        width: 100%;
        background-position: 50% 50%;
    }
    .content
    {
        width: 52%;
        margin-left: 24%;
        margin-right: 24%;
    }
    .article__img_size_big
    {
        width: 100%;
        height:auto;
    }
    .article__img-inline
    {
        width: 100%;
        height: auto;
    }
    .img-inline_size_mid
    {
        margin-right: 3%;
        width: 31%;
        height: auto;
    }
    .footer__social-net
    {
        right: 13%;
    }
    .footer__copyright
    {
        left: 13%;
    }
    .header__tittleh1
    {
        margin-left: 14%;
    }
    .header__tittleh2
    {
        margin-left: 14%;
    }
    .header__author
    {
        margin-left: 14%;
    }
    .header__nav
    {
        margin-left: 14%;
    }
    .article__links
    {
        width: 52%;
        white-space: nowrap;
    }
    .audio .plyr__controls
    {
        width: 100%;
    }
    .audio .plyr__progress
    {
        width: 70%;
        right: 10%;
    }
    .audio .plyr__controls .plyr__time
    {
        right: 10%;
    }

}

@media screen and (max-width: 1200px) {
    .article__links
    {
        flex-wrap: wrap;
        white-space: nowrap;
    }
    .content {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .audio
    {
        width: 100%;
        height: auto;
    }
    .audio .plyr__controls
    {
        width: 100%;
    }
    .audio .plyr__progress
    {
        width: 70%;
        right: 10%;
    }
    .audio .plyr__controls .plyr__time
    {
        right: 10%;
    }
    .video
    {
        width: 100%;
        height: auto;
    }
    .video .plyr__video-wrapper video
    {
        width: 100%;
    }
    .video .plyr__controls
    {
        width: 100%;
    }
    .video .plyr__progress
    {
        width: 86%;
    }
    .video .plyr__play-large
    {
        left: 47%;
    }
    .video span[class="plyr__time"]
    {

    }
    .comments__textarea
    {
        width: 95%;
    }
    .youtube
    {
        width: 90%;
        height: auto;
    }
    .content__tip-the-author
    {
        width: 100%;
    }
    .comments__line > span:before
    {
        width: 44%;
    }

    .comments__line > span:after {
        width: 45%;
    }
    .footer
    {
        width: 100%;
    }

}
@media screen and (max-width: 800px){
    .audio .plyr__progress
    {
        width: 65%;
        right: 10%;
    }
}
@media screen and (max-width: 480px) {

    .header__tittleh1
    {
        padding-top: 0;
        font-size: 30px;
        margin-left: 3%;
    }
    .header__tittleh2
    {
        font-size: 20px;
        margin-left: 3%;
    }
    .header
    {
        height: 230px;
    }
    .header__nav
    {
        margin-left: 3%;
        margin-top: 5%;
        flex-wrap: nowrap;
    }
    .header__nav-li
    {
        margin-bottom: 5px;
        margin-right: 3%;
    }
    .header__nav-item
    {
        font-size: 12px;
    }
    .header__nav-icon
    {
        margin-right: 2px;
        width: 50%;
        height: auto;
    }
    .header__nav_p
    {
        margin-left: 2px;
    }
    .header__author
    {
        white-space: nowrap;
        margin-left: 3%;
        font-size: 15px;
    }
    .header__donate-border
    {
        width: 19px;
        height: 19px;
    }
    .content
    {
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
        overflow: hidden;
    }

    .article__p
    {
        font-size: 20px;
    }
    .article__h3
    {
        font-size: px;
    }
    .tweet__img
    {
        width: 70%;
        height: auto;
    }
    article__author,
    author__li
    {
        margin-right: 1px;
    }
    article__links_margin5_info
    {
        flex-wrap: wrap;
    }
    .article__drop-down
    {
        margin-left: 20%;
    }
    .article__links-menu
    {
        flex-wrap: wrap;
    }
    .youtube
    {
        width: 85%;
        height: auto;
    }
    .comments__textarea
    {
        width: 90%;
    }
    .content__tip-the-author
    {
        width: 99%;
    }
    .audio
    {
        width: 100%;
    }
    .audio .plyr__controls
    {
        width: 100%;
        padding-left: 5px;
    }
    .audio .plyr__controls button[data-plyr="play"]
    {

    }
    .audio .plyr__progress
    {
        width: 60%;
        right: 10%;
    }
    .audio .plyr__controls .plyr__time
    {
        right: 10%;
    }
    .video
    {
        width: 100%;
        height: auto;
        border-width: 10px;
    }
    .video .plyr__video-wrapper video
    {
        width: 100%;
    }
    .video .plyr__controls
    {
        width: 100%;
    }
    .video .plyr__progress
    {
        width: 80%;
    }
    .video .plyr__play-large
    {
        left: 47%;
    }

}

@media screen and (max-width: 320px)
{

    .content
    {
        margin-left: 0%;
        margin-right: 0%;
    }
    article p
    {
        font-size: 30px;
    }
    article h3
    {
        font-size: 60px;
    }
}