@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700');
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: Lato;
    max-width: 100%;
    font-size: 16px;
}



            /* HEADER BEGIN */



.header
{
    background-image: url("img/bgheader.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 565px;
    color: #ffffff;
}

.header__tittleh1
{
    padding-top: 100px;
    margin-left: 215px;
    letter-spacing: -3px;
    word-spacing: 7px;
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 0px;
}

.header__tittleh2
{
    word-spacing: 3px;
    color: #ffffff;
    font-size: 30px;
    margin-left: 215px;
    font-weight: 300;
    margin-bottom: 23px;
}

.header__authorimg
{
    height: 26px;
    width: 26px;
    margin-right: 15px;
}

.header__author
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-left: 215px;
}
.header__authorinfo
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 40px;
}

.header__nav__icon
{
    padding-right: 9px;
}

.header__nav__item
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	text-decoration: none;
    color: #ffffff;
    font-family: Lato;
}

.header__nav__item:hover
{
    color: #955c24;
}

.header__nav
{
    margin-left: 215px;
    margin-top: 208px;
    font-size: 14px;
}

.header__nav__li
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    float: left;
    list-style: none;
    margin-right: 31px;
    padding-left: 0px;
}

.header__nav__share
{
	margin-right: 25px;
}

.header__nav_p
{
    padding-left: 9px;
}

.header__donate-border
{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 19px;
    height: 19px;
}



            /* HEADER END */



            /* CONTENT BEGIN */



.line
{
    background-color: #cfbb95;
    height: 56px;
    max-width: 1600px;
    padding-top: 0;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.line__text
{
    text-align: center;
    color: #f1ece2;
    font-weight: bold;
    font-size: 16px;
}

.content
{
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 385px;
    max-width: 1000px;
    width: 830px;
}

.content__article-h3
{
    /* letter-spacing: ; */
    /* word-spacing: 3px; */
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 21px;
}

.content__article-p
{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    word-spacing: 1px;
    letter-spacing: 0px;
    margin-bottom: 28px;
}

.author
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    color: #8b8b8b;
    list-style: none;
    word-spacing: 1px;

}

.author img
{
    padding-right: 6px;
    width: 21px;
    height: 21px;
    border-radius: 2px;
}

#time
{
    width: 15px;
    height: 16px;
    margin-right: 4px;
}

.content__links
{
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 830px;
}
#article4 .content__links
{
    margin-top: 24px;
}

.drop-down
{
    float: right;
}

.img-article3
{
    width: 830px;
    height: 333px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.img-article4
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
}

.img-article4 img
{
    width: 261px;
    height: 191px;
    margin-right: 25px;
    border-radius: 2px;
}
.last-child
{
    margin-right: 0;
}

.links-menu
{
    list-style: none;
    display: flex;
    flex-direction: row;
	justify-content: flex-start;
	align-items: center;
    margin-top: 2px;
    max-width: 500px;
}

.flex-links-menu
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.links-menu a
{
    text-decoration: none;
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 300;
}
.flex-links-menu img
{
    margin-right: 5px;
}

.flex-links-menu p
{
    margin-left: 5px;
    font-size: 14px;
    font-weight: 300;
    color: #737373;
}

#article5 .donate-border1
{
    width: 18px;
    height: 18px;
}

.border-share
{
    position: absolute;
    left: -11px;
    top: 26px;
    z-index: 1;
}

.rectangle
{
    border: 3px solid #e5e5e5;
    height: 172px;
    width: 108px;
    border-radius: 4px;
    position: absolute;
    margin-top: 9px;
    background-color: white;
}

#square
{
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    border-left: 3px solid #e5e5e5;
    border-top: 3px solid #e5e5e5;
    transform: rotate(45deg);
    margin-left: 13px;
}

.share-links
{
    list-style: none;
    margin-top: 12px;
}

.share-links li
{
    padding-bottom: 8px;
    padding-left: 13px;
    display: flex;
}

.share-links a
{
    text-decoration: none;
    color: #8d8d8d;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.email
{
    color: #777b82;
}
.facebook
{
    color: #3764ae;
}
.twitter
{
    color: #33aad6;
}
.pinterest
{
    color: #d63333;
}
.google
{
    color: #f04213;
}
.tumblr
{
    color: #364c74;
}

#article6
{
    position: relative;
}
.tweet
{
    position: absolute;
    margin-top: 1px;
	margin-left: 0px;
    z-index: 0;
    width: 483px;
    height: 426px;
}
.tweet img
{
    width: 483px;
    height: 426px;
}
#tweet
{
	margin-left: -7px;
	
}
#art6_links
{
	margin-top: 450px;
}
#article6 .links
{
	padding-top: 0px;
}



        /* AUDIO PLAYER  BEGIN*/



.audio
{
    margin-bottom: 30px;
}
.audio .plyr__controls
{
    width: 830px;
    height: 139px;
    background-color: #f0f0f0;
    border-radius: 2px;
    border-color: #f0f0f0;
    padding-top: 4px;
    padding-left: 40px;
}

.audio .plyr .plyr__volume
{
    transform: scale(0);
}

.audio button[data-plyr="mute"]
{
    transform: scale(0);
}

.audio .plyr__controls button[data-plyr="play"]
{
    background: #f0f0f0;
    background-image: url("img/button-eclipse.png");
    width: 84px;
    height: 84px;
    fill: #b1b7e1;
}

.audio .plyr__controls button:hover
{
    background: #f0f0f0;
    background-image: url("img/button-eclipse.png");
}

.audio .plyr__controls button[data-plyr="play"] svg
{
    fill: #b1b7e1;
    width: 32px;
    height: 32px;
    margin: auto;
}

.audio .plyr__controls button[data-plyr="pause"]
{
    background: #f0f0f0;
    background-image: url("img/button-eclipse.png");
    width: 84px;
    height: 84px;
    fill: #b1b7e1;
}

.audio .plyr__controls button[data-plyr="pause"] svg
{
    fill: #a3a4b6;
    width: 32px;
    height: 32px;
    margin: auto;
    background-image: url("img/pause.png");
    background-repeat: no-repeat;
    background-position: center;
}

.audio button[data-plyr="pause"] svg use
{
    transform: scale(0);
}

.audio .plyr__controls .plyr__time
{
    position: absolute;
    top: 56px;
    right: 46px;
    font-size: 10pt;
}

.audio .plyr__progress
{
    position: absolute;
    top: 77px;
    right: 46px;
    width: 625px;
}

.audio input[data-plyr="seek"]
{
    transform: scale(0);
}

.audio .plyr__progress--played
{
    color: #c8c8d3;
}



            /* AUDIO PLAYER END */


            /* VIDEO PLAYER BEGIN */


/*#article8 h3
{
    padding-bottom: 0px;
    margin-bottom: 50px;
} */
.video
{
    width: 830px;
    height: 391px;
    border: 19px solid #f0f0f0;
    border-radius: 2px;
    margin-top: 11px;
    margin-bottom: 25px;
    box-sizing: border-box;
}
.video .plyr__video-wrapper
{
    border-radius: 4px;
}
.video .plyr__video-wrapper video
{
    width: 790px;
    height: 353px;
}

.video .plyr__controls
{
    width: 790px;
}

.video .plyr__controls button:hover
{
    background: none;
}

.video button[data-plyr="mute"]
{
    transform: scale(0);
}

.video span[class="plyr__volume"]
{
    transform: scale(0);
}

.video button[data-plyr="fullscreen"]
{
    transform: scale(0);
}

.video input[class="plyr__progress--seek"]
{
    -webkit-transform: scale(0);
}

.video .plyr__progress--played
{
    color: #ffffff;
    opacity: 0.5;
}

.video .plyr__progress
{
    position: absolute;
    width: 717px;
    right: 18px;
    top: 55px;

}

.video span[class="plyr__time"]
{
    position: absolute;
    top: 38px;
    right: 18px;
    font-size: 9pt;
}

.video button[class="plyr__play-large"] svg use
{
    transform: scale(0);
}

.video button[class="plyr__play-large"] svg
{
    background: url("img/play-large.png");
    width: 32px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.video .plyr__play-large
{
    background: none;
    border: 2px solid #b7b7b5;
    opacity: 0.5;
    width: 97px;
    height: 97px;
    fill: #b1b7e1;
    position: absolute;
    left: 389px;
    top: 169px;
}
.video .plyr__controls button[data-plyr="play"]
{
    position: absolute;
    top: 47px;
    left: 12px;
}
.video .plyr__controls button[data-plyr="play"] svg use
{
    transform: scale(0);
}

.video .plyr__controls button[data-plyr="play"] svg
{
    background: url("img/play-small.png");
    width: 21px;
    height: 23px;
}

            /* VIDEO PLAYER END */


            /* LINE BEGIN */


.strike
{
    position: relative;
    display: block;
    text-align: center;
    white-space: nowrap;
    left: -7px;
    margin-bottom: 51px;
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;

}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 57%;
    height: 1px;
    background: #b2b2b2;
}

.strike > span:before
{
    width: 365px;
    right: 100%;
    margin-right: 7px;
}

.strike > span:after {
    left: 100%;
    width: 378px;
    margin-left: 9px;
}


            /* LINE END */

            /* REPLIES BEGIN */


.comment
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.comment ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.comment li
{
    padding-right: 20px;
}

.comment .com-author
{
    font-size: 16px;
    font-weight:700;
    color: black;
}

.comment .date
{
    font-size: 14px;
    color: #8b8b8b;
}

.comment img
{
    border-radius: 73px;
    width: 73px;
    height: 73px;
    margin-top: 2px;
}

.comment-content
{
    margin-left: 24px;
}

.comment-content a
{
    text-decoration: none;
    color: #6987bf;
}

.comment-content p
{
    color: #020202;
    font-weight: 100;
    margin-bottom: 0px;
}

.padding-content
{

}

.replies
{
    margin-left: 94px;
}

.comments textarea
{
    height: 160px;
    width: 810px;
    border-radius: 3px;
    background: #f0f0f0;
    border-color: #f0f0f0;
    resize: none;
    color: #a3a2a3;
    margin-top: 52px;
    font-size: 14px;
    padding-left: 18px;
    padding-top: 17px;
    margin-bottom: 33px;
}

.list-pages
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -4px;
}

.list-pages li
{
    display: inline;
    font-size: 16px;
}
.list-pages a
{
    text-decoration: none;
    color: #8d8d8d;
}
.list-pages a:hover
{
    color: #d98934;
}
#current
{
    font-weight: 700;
    color: #59595a;
}
.youtube
{
    width: 790px;
    height: 473px;
    border: 19px solid #f0f0f0;
    border-radius: 2px;
    margin-bottom: 28px;
}
.youtube .plyr__video-wrapper
{
    height: 473px;
}
#article9 p
{
    padding-left: 16px;
}


            /* TIP THE AUTHOR */


.tip-the-author
{
    border: 1px solid #8491bd;
    border-radius: 2px;
    width: 830px;
    height: 67px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 99px;
}
.tip-the-author img
{
    margin-left: 5px;
    margin-right: 14px;
}
.tip-the-author p
{
    color: #8491bd;
    font-size: 20px;
    word-spacing: -5px;
    letter-spacing: 1px;
}



            /* END TIP THE AUTHOR */

footer
{
    height: 99px;
    width: 1600px;
    background: black;
    color: #a5a5a5;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.social-net
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    position: absolute;
    right: 205px;
}

.social-net button
{
    background: url("img/social-netbtnbg.png");
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 0px;
}
.social-net li
{
    padding-right: 10px;
}

footer p
{
    position: relative;
    left: 215px;
    font-size: 18px;
}

