@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700');
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: Lato;
    max-width: 100%;
    font-size: 16px;
}



            /* HEADER BEGIN */



.header
{
    background-image: url("img/bgheader.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 565px;
    color: #ffffff;
}

.header__tittleh1
{
    padding-top: 100px;
    margin-left: 215px;
    letter-spacing: -3px;
    word-spacing: 7px;
    font-size: 60px;
    margin-bottom: 0;
}

.header__tittleh2
{
    word-spacing: 3px;
    font-size: 30px;
    margin-left: 215px;
    font-weight: 300;
    margin-bottom: 23px;
}

.header__authorimg
{
    height: 26px;
    width: 26px;
    margin-right: 15px;
}

.header__author
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-left: 215px;
}
.header__authorinfo
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 40px;
}

.header__nav-icon
{
    padding-right: 9px;
    width: 100%;
    height: auto;
}

.header__nav-item
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	text-decoration: none;
    font-family: Lato;
    color: white;
    cursor: pointer;
}

.header__nav-item:hover
{
    color: #955c24;
}

.header__nav
{
    margin-left: 215px;
    margin-top: 208px;
    font-size: 14px;
    height: 22px;
}

.header__nav-li
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    float: left;
    list-style: none;
    margin-right: 31px;
    padding-left: 0;
}

.header__nav-share
{
	margin-right: 25px;
}

.header__nav-span
{
    padding-left: 9px;
}

.header__donate-border
{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 19px;
    height: 19px;
}



            /* HEADER END */



            /* CONTENT BEGIN */



.line
{
    background-color: #cfbb95;
    height: 56px;
    max-width: 1600px;
    padding-top: 0;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.line__text
{
    text-align: center;
    color: #f1ece2;
    font-weight: bold;
    font-size: 16px;
}

.content
{
    margin-left: 385px;
    max-width: 1000px;
    width: 830px;
}

.article__h3
{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 21px;
}

.article__p
{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    word-spacing: 1px;
    letter-spacing: 0;
    margin-bottom: 28px;
}

.article__author,
.author__li
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    color: #8b8b8b;
    list-style: none;
    word-spacing: 1px;
	white-space: nowrap;
}

.article__author-img
{
    margin-right: 6px;
    width: 21px;
    height: 21px;
    border-radius: 2px;
}

.time
{
    width: 15px;
    height: 16px;
    margin-right: 4px;
}

.article__links
{
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 830px;
    position: relative;
    width: 100%;
}

.article__drop-down
{
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.article__img_size_big
{
    width: 830px;
    height: 333px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.article__img-inline
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.img-inline_size_mid
{
    width: 261px;
    height: 191px;
    margin-right: 25px;
    border-radius: 2px;
}
.last-child
{
    margin-right: 0;
}

.article__links-menu
{
    list-style: none;
    display: flex;
    flex-direction: row;
	justify-content: flex-start;
	align-items: center;
    margin-top: 2px;
    max-width: 500px;
}

.links-menu_flexed
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.links-menu__a
{
    text-decoration: none;
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 300;
	white-space: nowrap;
}
.links-menu__img
{
    margin-right: 5px;
    width: 100%;
    height: auto;
}

.links-menu__span
{
    margin-left: 5px;
    font-size: 14px;
    font-weight: 300;
    color: #737373;
}

.links-menu__donate
{
    border: 1px solid #999999;
    width: 18px;
    height: 18px;
    text-align: center;

}

.share__border
{
    position: absolute;
    left: -14px;
    top: 28px;
    z-index: 1;
}

.border__rectangle
{
    border: 3px solid #e5e5e5;
    height: 172px;
    width: 108px;
    border-radius: 4px;
    position: absolute;
    margin-top: 9px;
    background-color: white;
}

.border__square
{
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    border-left: 3px solid #e5e5e5;
    border-top: 3px solid #e5e5e5;
    transform: rotate(45deg);
    margin-left: 13px;
}

.rectangle__share-links
{
    list-style: none;
    margin-top: 12px;
}

.share-links__li
{
    padding-bottom: 8px;
    padding-left: 13px;
    display: flex;
}

.share-links__a
{
    text-decoration: none;
    color: #8d8d8d;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.share-links__email
{
    color: #777b82;
}
.share-links__facebook
{
    color: #3764ae;
}
.share-links__twitter
{
    color: #33aad6;
}
.share-links__pinterest
{
    color: #d63333;
}
.share-links__google
{
    color: #f04213;
}
.share-links__tumblr
{
    color: #364c74;
}

.article__tweet
{
    margin-top: 1px;
	margin-left: 0;
    z-index: 0;
    width: 483px;
    height: 426px;
    margin-left: -7px;
}
.tweet__img
{
    width: 483px;
    height: 426px;
}



        /* AUDIO PLAYER  BEGIN*/



.audio
{
    margin-bottom: 30px;
    position: relative;
}
.audio__tittle
{
    position: absolute;
    color: black;
    font-style: italic;
    z-index: 1;
    top: 47px;
    left: 159px;
    display: block;
    width: 41%;
    white-space: nowrap;

}
.audio .plyr__controls
{
    width: 830px;
    height: 139px;
    background-color: #f0f0f0;
    border-radius: 2px;
    border-color: #f0f0f0;
    padding-top: 4px;
    padding-left: 40px;
}

.audio .plyr .plyr__volume
{
    transform: scale(0);
}

.audio button[data-plyr="mute"]
{
    transform: scale(0);
}

.audio .plyr__controls button[data-plyr="play"]
{
    background: #f0f0f0;
    background-image: url("img/button-eclipse.png");
    width: 84px;
    height: 84px;
    fill: #b1b7e1;
}

.audio .plyr__controls button:hover
{
    background: #f0f0f0;
    background-image: url("img/button-eclipse.png");
}

.audio .plyr__controls button[data-plyr="play"] svg
{
    fill: #b1b7e1;
    width: 32px;
    height: 32px;
    margin: auto;
}

.audio .plyr__controls button[data-plyr="pause"]
{
    background: #f0f0f0;
    background-image: url("img/button-eclipse.png");
    width: 84px;
    height: 84px;
    fill: #b1b7e1;
}

.audio .plyr__controls button[data-plyr="pause"] svg
{
    fill: #a3a4b6;
    width: 32px;
    height: 32px;
    margin: auto;
    background-image: url("img/pause.png");
    background-repeat: no-repeat;
    background-position: center;
}

.audio button[data-plyr="pause"] svg use
{
    transform: scale(0);
}

.audio .plyr__controls .plyr__time
{
    position: absolute;
    top: 51px;
    right: 46px;
    font-size: 10pt;
}

.audio .plyr__progress
{
    position: absolute;
    top: 74px;
    right: 46px;
    width: 625px;
}

.audio input[data-plyr="seek"]
{
    transform: scale(0);
}

.audio .plyr__progress--played
{
    color: #c8c8d3;
}



            /* AUDIO PLAYER END */


            /* VIDEO PLAYER BEGIN */


.video
{
    width: 830px;
    height: 391px;
    border: 19px solid #f0f0f0;
    border-radius: 2px;
    margin-top: 11px;
    margin-bottom: 25px;
    box-sizing: border-box;
}
.video .plyr__video-wrapper
{
    border-radius: 4px;
}
.video .plyr__video-wrapper video
{
    width: 790px;
    height: 353px;
}

.video .plyr__controls
{
    width: 790px;
}

.video .plyr__controls button:hover
{
    background: none;
}

.video button[data-plyr="mute"]
{
    transform: scale(0);
}

.video span[class="plyr__volume"]
{
    transform: scale(0);
}

.video button[data-plyr="fullscreen"]
{
    transform: scale(0);
}

.video input[class="plyr__progress--seek"]
{
    -webkit-transform: scale(0);
}

.video .plyr__progress--played
{
    color: #ffffff;
    opacity: 0.5;
}

.video .plyr__progress
{
    position: absolute;
    width: 717px;
    right: 18px;
    top: 55px;

}

.video span[class="plyr__time"]
{
    position: absolute;
    top: 38px;
    right: 18px;
    font-size: 9pt;
}

.video button[class="plyr__play-large"] svg use
{
    transform: scale(0);
}

.video button[class="plyr__play-large"] svg
{
    background: url("img/play-large.png");
    width: 32px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.video .plyr__play-large
{
    background: none;
    border: 2px solid #b7b7b5;
    opacity: 0.5;
    width: 97px;
    height: 97px;
    fill: #b1b7e1;
    position: absolute;
    left: 389px;
    top: 169px;
}
.video .plyr__controls button[data-plyr="play"]
{
    position: absolute;
    top: 47px;
    left: 12px;
}
.video .plyr__controls button[data-plyr="play"] svg use
{
    transform: scale(0);
}

.video .plyr__controls button[data-plyr="play"] svg
{
    background: url("img/play-small.png");
    width: 21px;
    height: 23px;
}

            /* VIDEO PLAYER END */


            /* LINE BEGIN */

		
 .comments__line
{
    position: relative;
    display: block;
    text-align: center;
    white-space: nowrap;
    left: -7px;
    margin-bottom: 51px;
	width: 100%;
	overflow: hidden;
}

.comments__line > span {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;

}

.comments__line > span:before,
.comments__line > span:after {
    content: "";
    position: absolute;
    top: 57%;
    height: 1px;
    background: #b2b2b2;
}

.comments__line > span:before
{
    width: 365px;
    right: 100%;
    margin-right: 7px;
}

.comments__line > span:after {
    left: 100%;
    width: 378px;
    margin-left: 9px;
} 


            /* LINE END */

            /* REPLIES BEGIN */


.comments__replies
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.content__ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
}

.content__ul-li
{
    margin-right: 20px;
}

.content__ul-com-author {
    font-size: 16px;
    font-weight:700;
    color: black;
}

.content__ul-com-date
{
    font-size: 14px;
    color: #8b8b8b;
}

.replies__img
{
    border-radius: 73px;
    width: 73px;
    height: 73px;
    margin-top: 2px;
}

.replies__content
{
    margin-left: 22px;
}

.content__a
{
    text-decoration: none;
    color: #6987bf;
}

.content__p
{
    color: #020202;
    font-weight: 100;
}

.comments__replies_margin_big
{
    margin-left: 94px;
}

.comments__textarea
{
    height: 160px;
    width: 810px;
    border-radius: 3px;
    background: #f0f0f0;
    border-color: #f0f0f0;
    resize: none;
    color: #a3a2a3;
    margin-top: 52px;
    font-size: 14px;
    padding-left: 18px;
    padding-top: 17px;
    margin-bottom: 33px;
}

.comments__list-pages
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -4px;
}

.list-pages__li
{
    display: inline;
    font-size: 16px;
}
.list-pages__a
{
    text-decoration: none;
    color: #8d8d8d;
}
.list-pages__a:hover
{
    color: #d98934;
}
.list-pages__a:active
{
    font-weight: 700;
    color: #59595a;
}
.youtube
{
    width: 790px;
    height: 473px;
    border: 19px solid #f0f0f0;
    border-radius: 2px;
    margin-bottom: 28px;
}
.youtube .plyr__video-wrapper
{
    height: 473px;
}


            /* TIP THE AUTHOR */


.content__tip-the-author
{
    border: 1px solid #8491bd;
    border-radius: 2px;
    width: 830px;
    height: 67px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 99px;
}
.tip-the-author__img
{
    margin-left: 5px;
    margin-right: 14px;
}
.tip-the-author__p
{
    color: #8491bd;
    font-size: 20px;
    word-spacing: -5px;
    letter-spacing: 1px;
}



            /* END TIP THE AUTHOR */

.footer
{
    height: 99px;
    width: 1600px;
    background: black;
    color: #a5a5a5;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.footer__social-net
{
    list-style: none;
    position: absolute;
    right: 205px;
}

.footer__social-net-button
{
    background: url("img/social-netbtnbg.png");
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 0;
}
.social-net-li__a
{
    display: inline-block;
}
.footer__social-net-li
{
    padding-right: 8px;
    display: inline-block;
    box-sizing: content-box;
}
.footer__copyright
{
    position: relative;
    left: 215px;
    font-size: 18px;
}

